{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div id="content">
        <div class="title">
            <h2>New account</h2>
        </div>
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <div class="form-actions">
                <button class="btn-sub" type="submit" value="Submit">Submit</button>
            </div>
        </form>
    </div>
</div>